{
    border: solid black 1px;
}

.logo {
    width: 25%;
    float: right;
}
.table-equal {
    table-layout: fixed;
    width: 300px;
}

img {
    margin: 0 auto;
    max-width: 900px;
    max-height: 500px;
}